{% extends 'micplot/base.html' %}

{% block title %}Ideal Mic Allocation - {{ show.name }}{% endblock %}
{% block content %}
<p class="lead">There are {{ characters|length }} individual people that could use a microphone in this show.</p>
<p>Of these, {{ mic_assigned|length }} currently have a microphone/number assigned to them and {{ nomic_assigned|length }} do not. All up, we currently have {{ microphones|length }} micophones available, which means at least {{ changes }} changes.</p>
<div class="row">
{% for character_set in characters %}
<div class="col-lg-4">
	<div class="card border-light mb-3 mr-3" style="max-width: 20rem;"">
		<div class="card-header">{{character_set.actor.name}}</div>
		<div class="card-body">
				<h5>Microphones assigned</h5>
				<p class="card-text">{% if character_set.mics %}{% for mic in character_set.mics %}{{mic.microphone}}<br />{% endfor %}{% else %}<span class="text-warning">None allocated yet</span>{% endif%}</p>
				<h5>Characters played with mics</h5>
				<p class="card-text">	{% for character in character_set.micable_characters %}
						{{character}}<br />
					{% endfor %}
				</p>
				
		</div>
	</div>
	</div>
{% endfor %}
</div>
{% endblock %}