{% extends 'micplot/base.html' %}

{% block title %}Song Detail - {{ show.name }}{% endblock %}
{% block content %}
{% for song in songs %}
	<h3>{{ song.name }}</h3>
	<em>Scene: {{ song.scene }}</em>, <em>Lib Pages {{ song.lib_start_page }} - {{ song.lib_end_page }}</em>
	{% if song.featured_characters or song.featured_groups %}
	<div class="row">
		<div class="col-6">
	<h4>Featured Characters</h4>
	<ul>
	{% for character in song.featured_characters %}
		<li>{{ character.name }}</li>
	{% endfor %}
	{% for group in song.featured_groups %}
		<li>Group: {{ group.name }} (
		{% for character in group.characters %}
			{{ character.name }}{% if not forloop.last %}, {% endif %}{% empty %}We don't know who this is
		{% endfor %}
	)</li>{% endfor %}
	</ul>
		</div>
		<div class="col-6">
			<h4>Featured Actors</h4>
			<ul>
				{% for actor in song.featured_actor_list  %}
				<li>{{ actor.primary_actor.name }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
	{% if song.ensemble_characters or song.ensemble_groups %}
	<div class="row">
		<div class="col-6">
	<h4>Enesemble Characters</h4>
	<ul>
	{% for character in song.ensemble_characters %}
	<li>{{ character.name }}</li>
	{% endfor %}
	{% for group in song.ensemble_groups %}
	<li>Group: {{ group.name }} (
		{% for character in group.characters %}
			{{ character.name }}{% if not forloop.last %}, {% endif %}{% empty %}We don't know who this is
		{% endfor %}
	)</li>
	{% endfor %}
	</ul>
</div>
<div class="col-6">
	<h4>Ensemble Actors</h4>
	<ul>
		{% for actor in song.ensemble_actor_list %}
		<li>{{ actor.primary_actor.name }}</li>
		{% endfor %}
	</ul>
</div></div>
	{% endif %}
<hr />
{% endfor %}
{% endblock %}