{% extends 'micplot/base.html' %}

{% block title %}Cast List{{ run.show.name }}{% endblock %}
{% block content %}
<h3>{{ run }}</h3>
		{% for character in characters_in_show %}
		<div class="row">
			<div class="col-md-4"><strong>{{ character.name }}</strong></div>
			<div class="col-md-8">
		{% for actor in character.actor_list %}
		{{ actor.primary_actor.name }}<br />
		{% endfor %}
			</div>
		</div>
		{% endfor %}
<div class="row mb-3 pt-3">
	<div class="col-md-12"><h4>Cast Groupings</h4></div>
</div> <!-- end row -->
<div class="row">
	<div class="col-md-4">
		<strong>Group</strong>
	</div>
	<div class="col-md-4">
		<strong>Character</strong>
	</div>
	<div class="col-md-4">
		<strong>Actor</strong>
	</div>
</div>
		{% for group in character_groups %}
		<div class="row">
			<div class="col-md-4"><strong>{{ group.name }}</strong></div>
			<div class="col-md-8">
		{% for character in group.characters %}
		<div class="row">
			<div class="col">
				<em>{{ character.name }}</em>
			</div>
			<div class="col">
			{% for actor in character.actors %}
				{{actor.primary_actor.name}}<br />
			{%endfor%}
			</div>
		</div> <!-- end row -->
		{% endfor %}
	</div>
</div> <!-- end row -->
		{% endfor %}
{% endblock %}