{% extends 'micplot/base.html' %}

{% block title %}Actor List - {{ run.show.name }}{% endblock %}
{% block content %}
<h3>{{ run }}</h3>
<p>
	<a href="{% url 'cast:characterlistwavetool' run.id %}" class="btn btn-primary">Download WaveTool Players List</a>
</p>
		{% for character in characters %}
		{% ifchanged character.primary_actor.name %}
		{% if not forloop.first %}
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-md-4"><strong>{{ character.primary_actor.name }}</strong></div>
			<div class="col-md-8">
		{% endifchanged %}
			{{ character.character.name }}<br />
		{% endfor %}
			</div>
		</div>
{% endblock %}